<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Bem vindo à sua página de vídeos</h1>
    <br>
    <h2>Aqui você pode acessar vídeos e/ou playlists da sua escolha</h2>

<%- include ('partials/footer.ejs') %>
