<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>


    <h1>Bem vindo à sua página de perfil</h1>
    <br>
    <h2>Aqui você pode verificar e alterar todos os seus dados</h2>

<%- include ('partials/footer.ejs') %>
