<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Bem vindo à página de vídeos, aqui você pode escolher entre playlists, videos e muitas outras coisas</h1>
    <h2>Você escolheu a playlist: <%= playlist %></h2>
    
    <% if(!playlist) { %>
        <% listaVideos.forEach((playlist) => { %>
            <p><a href="/videos/<%= playlist %>"><%= playlist %></a></p>   
       <% })%>
       <% } %>
</body>
</html>