<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vídeos</title>
</head>
<body>
    <h1>Bem vindo à sua página de vídeos</h1>
    <br>
    <h2>Aqui você pode acessar vídeos e/ou playlists da sua escolha</h2>
</body>
</html>